/* Reseteo */
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    overflow-x: hiden;
}
html {
    scroll-behavior: smooth;
}
h1,h2,h3,h4,h5,h6,label,option{
    font-family: 'Roboto Mono', Times, serif;
    color:#003366;
}
p,ul,ol,a{
    font-family: 'Arimo', Verdana, sans-serif;
    text-decoration: none;
    list-style: none;
    color: #003366;
    font-size: 1.2em;
}
/*-----HEADER-----*/
header{
    background: #003366;
    width: 100vw;
    height: 20em;
}
h1 img{
    position: fixed;
    width: 150px;
    height: 50px;
    margin-left: 1em;
}
header picture>img{
    width: 135px;
    margin-top: 3em;
    margin-right: 1.5em;
}
nav{
    top: 0;
    left: 0;
    width: 100%;
}
section>picture img{
    border-radius: 100%;
    margin-top: 20px;
}
#navegador+div{
    width: 100vw;
    position: relative;
    top: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    
    }
#navegador+div h2{
    width: 300px;
    margin-top: 3em;
    margin-left: 1em;
    font-size: 1.6em;
    color: #cccccc; 
}
main{
    background-color: #cccccc;
}
/*---NOSOTROS---*/
#nosotros{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    margin: 5px 10px 10px 10px;
}
#nosotros div{
    margin: 20px 20px 0 20px;
}
#nosotros div p{
    padding-top: 10px;
    color: #003366;
    font-size: 1.2em;
}
#nosotros h2{
    font-size: 0;
}
/*---CARRUSEL---*/
.carrito{
    display: flex;
    justify-content: center;
}
.carrousel{
    width: 320px;
    height: 213px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.conteCarrousel{
    width: 320px;
    height: 213px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}
.itemCarrousel{
    position: relative;
    width: 100%;
    height: 100%;
}
.itemCarrouselTarjeta{
    width: 100%;
    height: 100%;
}
.itemCarrouselTarjeta picture{
    width: 100%;
    height: 100%;
    border-radius: 0;
    
}
.itemCarrouselArrows{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px; 
    font-size: 2em;
}
.itemCarrouselArrows > i:hover {
    cursor: pointer;
}
.conteCarrouselController{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    
}
.conteCarrouselController > a{
    text-decoration: none;
    font-size: 2em;
    color: #FF6600;
}
.itemCarrouselArrows > a > i{
    color: #FF6600;
}
/* ---ENERGIASOLAR---*/
#energiaSolar,#paneles{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#energiaSolar h2{
    font-size: 1.6em;
}
#energiaSolar h2+p{
    margin: 25px;
}
.lista{
    width: 80vw;
    background-color: #669999;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 30px;
}
.lista:first-child{
    font-size: 1.4em;
} 
.lista li{
    margin: 5px 10px 5px 20px;
    font-size: 1em;
    list-style-type: disc;  
}
/*---PANELES---*/
#paneles h2{
    font-size: 1,6em;
    margin-top: 15px;
}
#paneles h2 + div{
    width: 80vw;
    margin-top: 20px;
}
#paneles p{
    margin-top: 5px;
}
/*---VIDEO---*/
#video{
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-top: -2px;
    background-color: #003366;
    padding-bottom: 20px;
}
#video iframe{
    width: 80vw;
    height: calc(80vw * 315 / 560);
}
/*---BENEFICIOS---*/
/* #beneficios{
    background-color: #003366;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#beneficios h2{
    color: #cccccc;
    margin-top: 25px;
    font-size: 1.6em;
   width: 80vw;
   text-align: center;
    
}
.grid{
    display: grid;
    grid-template-columns: 70vw;
  
    justify-content: center;
    align-content: center;
    }

.grid div{
    align-self: center;
    width: 80vw;
}
#beneficios img{
    margin-left: 4em;
    margin-top: 30px;
    width: 200px;
}
#beneficios p{
    align-self: center;
    color: #cccccc;
    font-size: 1.2em;
    margin-top: 15px;
} */
/*---Calcular---*/
#calcular{
    background-color: #003366;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#calcular h2{
    color: #cccccc;
    font-size: 1.6em;
    margin-top: 2.5em;
    width: 80vw;
    text-align: center;
}
#calcular p{
    color: #cccccc;
    width: 80vw;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}
/*---FORMULARIO---*/
#contacto{
    background-color: #003366;
    padding-top: 3em;
    padding-bottom: 3em;   
}
.itemform{
    display: grid;
    grid-template-columns: 80vw;
    justify-content: center;
    margin-bottom: 10px;
}
.itemform label{
    font-weight: 600;
    color: #cccccc;
}
.itemform input{
    border-radius: 15px;
    height: 25px;
    margin-top: 5px;
    border: none; 
    background-color: #cccccc;
    padding-left: 1.5em;  
}
.itemform select{
    border-radius: 15px;   
    margin-top: 10px;
    border: none; 
    color: #003366;
    background-color: #cccccc;
    height: 25px;
    padding-left: 1.5em;
    padding-right: 1.5em;
}
.itemform textarea{
    border-radius: 15px;   
    border: none; 
    background-color: #cccccc;
    resize: none;
} 
input[type="submit"]{
    background-color: #79AD37;
    padding: 0;
    width: 30vw;
    height: 2.5em;
    font-size: 0.8em;
    font-weight: 600;
    color: white;
    border-radius: 10px;
    grid-column: 1/2;
    justify-self: center;
}
/*----FOOTER---*/
footer{
    border-top: 2px solid #FF6600;
    display: flex;
    flex-direction: column;

}
#primeraLinea{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#logo img{
    width: 150px;
    margin-left: 1em;
}
#redes{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;
    margin-bottom: 0;
    margin-right: 1em;
}
#redes li a:any-link{
    color:#FF6600;
    font-size: 1.6em;
}
#redes li a:-webkit-any-link{
    color:#FF6600;
    font-size: 1.6em;
}
#redes li a:-moz-any-link{
    color:#FF6600;
    font-size: 1.6em;
}
#redes li a:hover{
    color: #79AD37;
}
#datos {
    display: flex;
    flex-direction: row;
    margin: 1em;
    justify-content: space-between; 
}
#datos h2{
    display: inline-block;
    font-size: 1.2em;
}
#datos ul{
    display: inline-block;
    font-size: 1em;
}
/*------CLASS generales-------*/
.naranja{
    color: #FF6600;
}
.boton{
    color: #cccccc;
    background-color: #79AD37;
    margin-left: 50px;
    margin-right: 50px;
    height: 48px;
    padding-top: 4px;
    border-radius: 15px;
}
/*---HAMBURGUESA---*/
#navegador{
    position: fixed;
    background: #003366;
    width: 100vw;
    height: 3.5em;
    z-index: 10;
}
#hamburguesa {
    position: fixed;
    right: 15px;
    top: 2.5px;
}
#hamburguesa li {
    list-style: none;
    width: 2em;
}
#hamburguesa li a {
    color: #FF6600;
    display: block;
    font-size: 2em;
}
#hamburguesa li:last-child {
    display: none;
}
nav:target #hamburguesa li:last-child {
    display: block;
}  
nav:target #hamburguesa li:first-child {
    display: none;
}
nav:target #hamburguesa li:last-child {
    display: block;
}
#barra {
    width: 100%;
    height: calc(100vh - 2.5em);
    position: absolute;
    top: 2.5em;
    right: -100%;
    background: #003366;
    transition: right .25s ease-in;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}
#barra li {
    list-style: none;
    margin: 1em;
    width: 80%;
}
#barra li a {
    text-decoration: none;
    display: block;
    color: #FF6600;
    text-align: center;
    line-height: 2em;
}
#barra li:last-child a{
    color: #cccccc;
    font-weight: bold;
}
nav:target #barra {
    right: 0;
}
/*---scrollcarrito---*/
#itemCarrousel-1, #itemCarrousel-2,#itemCarrousel-3{
    scroll-margin-top: 50px;
}
/*----tablet-----*/
@media screen and (min-width: 540px) {
    /*---HEADER---*/
    h1 img{
        position: fixed;
        width: 200px;
        margin-left: 1em;
    }
    header picture>img{
        margin: 1em;
        width: 35vw; 
    }
    #navegador+div h2{
        font-size: 2.2em;
    }
    #hamburguesa li {
        list-style: none;
        width: 2.2em;
    }
    #hamburguesa li a {
        color: #FF6600;
        display: block;
        font-size: 2.2em;
    }
    #barra li {
        list-style: none;
        margin: 1em;
        width: 40%;
    }
    #barra li a {
        text-decoration: none;
        display: block;
        color: #FF6600;
        text-align: center;
        font-size: 1.8em;
        line-height: 2em;
    }
    #barra li:last-child a{
        color: #cccccc;
        font-weight: bold;
    }
    .boton{
        color: #cccccc;
        background-color: #79AD37;
        margin-left: 50px;
        margin-right: 50px;
        height: 68px;
        padding-top: 2px;
        border-radius: 15px;
    }
    /*---NOSOTOS---*/
    #nosotros div{
        margin-left: 2em;
        margin-right: 2em;
        font-size: 1em;
    }
    #nosotros div p{
        font-size: 1.4em;
    }

    /*---CARRUSEL---*/
    .carrito{
        display: flex;
        justify-content: center;
    }
    .carrousel{
        width: 480px;
        height: 330px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .conteCarrousel{
        width: 480px;
        height: 330px;
        overflow: hidden;
        display: flex;
        flex-direction: row;
    }
    .itemCarrousel{
        position: relative;
        width: 100%;
        height: 100%;
    }
    .itemCarrouselTarjeta{
        width: 100%;
        height: 100%;
    }
    .itemCarrouselTarjeta picture{
        width: 100%;
        height: 100%;
        border-radius: 0;  
    }
    .itemCarrouselArrows{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%; 
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px; 
        font-size: 2em;
    }
    .itemCarrouselArrows > i:hover {
        cursor: pointer;
    }
    .conteCarrouselController{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        
    }
    .conteCarrouselController > a{
        text-decoration: none;
        font-size: 2em;
        color: #FF6600;
    }
    .itemCarrouselArrows > a > i{
        color: #FF6600;
    }
    /*---ENERGIASOLAR---*/
    #energiaSolar h2{
        font-size: 1.6em;
        
    }
    #energiaSolar p{
        font-size: 1.4em;
        width: 80vw;
    }
    #paneles h2{
        font-size: 1.6em;
    }
    #paneles p{
        font-size: 1.4em;
        width: 80vw;
    }
    /*---FORMULARIO---*/
    .itemform{
        display: grid;
        grid-template-columns: 50vw;
        justify-content: center;
        margin-bottom: 10px;
    }   
    .itemform label{
        font-weight: 600;
        color: #cccccc;
    }   
    .itemform input{
        border-radius: 15px;
        height: 35px;
        margin-top: 5px;
        border: none; 
        background-color: #cccccc;
        padding-left: 1.5em;
        
    }
    .itemform select{
        border-radius: 15px;   
        margin-top: 10px;
        border: none; 
        color: #003366;
        background-color: #cccccc;
        height: 35px;
        padding-left: 1.5em;
        padding-right: 1.5em;
    }  
    .itemform textarea{
        border-radius: 15px;   
        border: none; 
        background-color: #cccccc;
        resize: none;
    }   
    input[type="submit"]{
        background-color: #79AD37;
        padding: 0;
        width: 30vw;
        height: 2.5em;
        font-size: 1.2em;
        font-weight: 600;
        color: white;
        border-radius: 10px;
        grid-column: 1/2;
        justify-self: center;
    }
    /*---FOOTER---*/
    #logo img{
        width: 200px;
        margin-left: 2em;
    }   
    #redes{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 2em;
        margin-bottom: 0;
        margin-right: 2em;
    }  
    #redes li a:any-link{
        color:#FF6600;
        font-size: 2em;
    }   
    #redes li a:-webkit-any-link{
        color:#FF6600;
        font-size: 2em;
    }    
    #redes li a:-moz-any-link{
        color:#FF6600;
        font-size: 2em;
    }
}
/*-----desktop----*/
@media screen and (min-width: 1024px) {
    
        

        

}